---
const currentYear = new Date().getFullYear();
---

<footer class="py-16 px-6">
  <div class="max-w-7xl mx-auto">
    <div
      class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-8 md:space-y-0"
    >
      <div>
        <p class="text-sm">&copy; {currentYear} Beauté Creative Lab</p>
      </div>
      <div class="flex space-x-8">
        <a
          href="https://youtube.com/@khanyisilenicole?si=AtIejaBX8_q2kr40"
          target="_blank"
          class="text-sm hover:opacity-70 transition-opacity">Youtube</a
        >
        <a
          href="https://www.instagram.com/i.am_khanyi?igsh=MnBieXFybDRrYmdn"
          target="_blank"
          class="text-sm hover:opacity-70 transition-opacity">Instagram</a
        >
        <!-- <a href="#" class="text-sm hover:opacity-70 transition-opacity"
          >Twitter</a
        > -->
      </div>
    </div>
  </div>
</footer>
